*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#marcoaz{
    border: 1px solid #14213D;
}

#titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#A46CC4;

}
#crearcuenta{
    background-color: #14213D;
    color: white;
}

#ingresar{
    background-color:white;
    border: 1px solid #14213D;
    color: #14213D;
}


.pelota{
    background-color: #FCA311; 
}
#login{
    color: #14213D;
}

.titulo_form{
    color: #14213D;
}
#marco_am{
    border: 1px solid #FCA311;

}

.placeholder{
    border: 1px solid #C4C4C4;
    border-radius: 8px;
}

.botoningreso{
    border: 1px solid #14213D;
    background-color: #FCA311;
    color: #14213D;
    }

.tituloslink{
    color: #C4C4C4;
}

#headerDesk{
    background-color: #14213D;
    color: white;  
}

#LogoTitulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#A46CC4;
}

#NavDesk{
    border-right: 1px solid #14213D;
}
.NavOn{
    background-color: #14213D;
    border-top: 2px solid #14213D;
    color: #FCA311;
}
.NavOff{
    border-top: 2px solid #14213D;
    color: #14213D;
}
.NavOff:last-child{
    border-bottom: 2px solid #14213D; 
}

#Tabla{
    border: 1px solid #14213D;
    border-collapse: collapse;
}

#TituloMes{
    color: #14213D;
}
.TituloMesMobileTablet{
    color: #14213D;
}

#Ven-DGI{
    color: #FCA311;
}

#Ven-FONASA{
    color: #A46CC4;
}

#DivIngresos{
    color: #14213D;
}

.TitulosTabla{
    border-bottom: 1px solid #14213D;
    border-collapse: collapse;
}

td{
    border-bottom: 1px solid #C4C4C4;
}

.BBAgregar{
    background-color: #14213D;
    color: white;
}

#DivGastos{
    color: #14213D;
}

.BEstimado{
    background-color: #14213D;
    color: white;
}

#EstiloCalendario{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.TituloCalendario{
    color: #14213D;
}

.mespasado{
    color: #C4C4C4;
}

.VencimientoDGI{
    background-color: #FCA311;
    border: 1px solid #14213D;
}

.VencimientoFONASA{
    background-color: #A46CC4;
    border: 1px solid #14213D;
}
.coloraz{
    color:#14213D;
}

/* Solo para ver hasta donde van los bordes en los divs
hay que borrar esto despues */
.bordesnegros{
    border: 1px solid black;
}

#headerDesk{
    height: 10vh;
    min-height: 4rem;
}

#NavDesk{
    height: 90vh;
    min-height: auto;
}